body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}

#main-title {
    color: green; 
    font-family: 'Lucida Console'; 
    font-size: 44px; 
    font-weight: bold;
}

#about-me {
    color: rgb(216, 41, 114); 
    font-family: 'Brush Script MT', cursive; 
    font-size: 20px; 
    font-weight: bold;
}

#list0 {
    color: rgb(216, 41, 114); 
    font-family: 'Brush Script MT', cursive; 
    font-size: 20px; 
    font-weight: bold;
}

#list1 {
    color: rgb(9, 32, 236); 
    font-family: 'Brush Script MT', cursive; 
    font-size: 20px; 
    font-weight: bold;
}

#list2 {
    color: rgb(221, 218, 19); 
    font-family: 'Brush Script MT', cursive; 
    font-size: 20px; 
    font-weight: bold;
}